<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th class="<%= sort_order('title') %>">
          <%= link_to "Title #{sort_helper('title')}".html_safe, { sort: "title", direction: sort_direction("title") } %>
        </th>
        <th class="<%= sort_order('rating') %>">
          <%= link_to "Rating #{sort_helper('rating')}".html_safe, { sort: "rating", direction: sort_direction("rating") } %>
        </th>
        <th class="<%= sort_order('release_date') %>">
          <%= link_to "Release Date #{sort_helper('release_date')}".html_safe, { sort: "release_date", direction: sort_direction("release_date") } %>
        </th>
        <th>Actions</th>
      </tr>
    </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%d %B %Y') %></td>
        <td>
        <%= button_to "Show", movie, method: :get, style: "background-color: #4CAF50; color: white; padding: 5px 10px; font-size: 12px; border-radius: 5px;" %>

        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to "New movie", new_movie_path %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>